Options -Indexes
RewriteEngine on

RewriteCond %{HTTP:CF-Visitor} '"scheme":"http"' [OR]
RewriteCond %{HTTPS} !=on
RewriteRule . - [env=HTTP:http]
RewriteCond %{HTTP:CF-Visitor} '"scheme":"https"' [OR]
RewriteCond %{HTTPS} =on
RewriteRule . - [env=HTTP:https]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{THE_REQUEST} ^(.+)\.(php|asp|htm|html|aspx|jsp)([#?][^\ ]*)?\ HTTP/
RewriteRule (.+)\.(php|asp|htm|html|aspx|jsp)$1 %{ENV:HTTP}://%{HTTP_HOST}/$1 [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)index /$1 [R=302,NC,L]