::-webkit-scrollbar{
width:0.8rem;
height:0.6rem;
}
::-webkit-scrollbar-thumb{
background-clip:padding-box;
background-color:rgba(0,0,0,0.67);
border:solid transparent;
border-width:0.2rem;
border-radius:2rem;
}
::-webkit-scrollbar-thumb:hover{
background-color:rgba(136,136,136,0.67);
}
::-webkit-scrollbar-thumb:active{
background-color:rgba(136,136,136,0.53);
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button,input[type=number]{
-webkit-appearance:none;
-moz-appearance:textfield;
margin:0;
}
body{
margin:0;
background-color:rgba(0,0,0,1);
color:rgba(221,221,221,1);
font-family:sans-serif;
overflow:hidden;
}
*{
box-sizing:border-box;
}
a{
text-decoration:none;
}
.nc{
user-select:none;
-o-user-select:none;
-ms-user-select:none;
-moz-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
-webkit-touch-callout:none;
}
.hide{
display:none;
}
.button{
font-size:1rem;
padding:0.4rem;
margin:0.2rem;
background-color:transparent;
color:rgba(221,221,221,1);
border:none;
cursor:pointer;
display:flex;
justify-content:center;
align-items:center;
position:relative;
overflow:hidden;
border-radius:2rem;
line-height:1.6rem;
}
.button:hover,.button:focus-visible{
background-color:#00000044;
box-shadow:0 0 0.5rem rgba(0, 0, 0, 0.3);
}
.button:active{
background-color:#00000022;
box-shadow:0 0 0.5rem rgba(0, 0, 0, 0.3);
}
.buttonText{
font-size:1rem;
background-color:rgba(0,0,0,0.4);
color:rgba(221,221,221,1);
margin:0.2rem;
padding:0.25rem 0.6rem;
border-radius:0.5rem;
border:none;
cursor:pointer;
display:flex;
justify-content:center;
align-items:center;
position:relative;
overflow:hidden;
line-height:1.6rem;
min-width:6rem;
}
.buttonText:hover,.buttonText:focus-visible{
background-color:#00000044;
box-shadow:0 0 0.5rem rgba(0,0,0,0.3);
}
.buttonText:active{
background-color:#000000bb;
box-shadow:0 0 0.5rem rgba(0,0,0,0.3);
}
.button svg{
fill:none;
stroke:#ddd;
stroke-width:2;
width:1.8rem;
height:1.8rem;
}
.switch{
position:relative;
display:inline-block;
width:3rem;
height:1.5rem;
display:flex;
align-content:center;
border-radius:2rem;
}
.switch input{ 
opacity:0;
display:none;
width:0;
height:0;
}
.sli,.sli:before{
position:absolute;
top:0;left:0;bottom:0;
-webkit-transition:.25s;
transition:.25s;
border-radius:2rem;
}
.sli{
cursor:pointer;
right:0;
background-color:rgba(204,204,204,1);
}
.sli:before{
content:"";
height:80%;
width:40%;
top:10%;bottom:10%;left:6%;
background-color:rgba(136,136,136,1);
}
.sli:hover,.sli:focus-visible,.sli:active{
box-shadow:0 0 0.5rem rgba(0,0,0,0.3);
}
.switch input:checked + .sli{
background-color:rgba(0,204,136,1);
}
.switch input:checked + .sli:before{
-webkit-transform:translateX(122%);
-ms-transform:translateX(122%);
transform:translateX(122%);
}
.selectCon{
position:relative;
min-width:6rem;
line-height:1.6rem;
}
.selectCon>select{
display:none;
}
.selectCon>.seTed{
margin:0;
padding-right:1.75rem;
transition:border-radius 0.5s cubic-bezier(0.6,0,0.4,1);
display:flex;
align-items:center;
justify-content:flex-start;
}
.selectCon.show>.seTed{
border-radius:0.5rem 0.5rem 0 0;
}
.selectCon>.seTed::Before{
content:"";
position:absolute;
right:0.5rem;
border-width:0.4rem;
border-style:solid;
border-color:rgba(143,143,143,1) transparent transparent transparent;
}
.selectCon.show>.seTed::Before{
top:0.5rem;
border-color:transparent transparent rgba(143,143,143,1) transparent;
}
.selectCon>.seCon{
position:absolute;
background-color:#000000aa;
opacity:0;
width:100%;
max-height:0;
overflow-y:auto;
font-size:0.9rem;
box-shadow:0 0 0.5rem rgba(0,0,0,0.3);
border-radius:0.5rem;
z-index:1;
visibility:hidden;
pointer-events:none;
transition:0.5s cubic-bezier(0.6,0,0.4,1);
}
.selectCon.show>.seCon{
opacity:1;
max-height:16rem;
padding:0.4rem 0;
border-radius:0 0 0.5rem 0.5rem;
visibility:visible;
pointer-events:initial;
}
.selectCon>.seCon>.seCC{
padding:0.5rem;
cursor:pointer;
}
.selectCon>.seCon>.seCC:hover,.selectCon>.seCC:focus-visible{
background-color:rgba(0,0,0,1);
text-decoration:underline;
}
.selectCon>.seCon>.seCC:active{
background-color:rgba(0,0,0,0.73);
}
.color{
width:3rem;
height:1.5rem;
background-color:rgba(255,255,255,.4);
border:none;
border-radius:2rem;
padding:0;
cursor:pointer;
}
.color::-webkit-color-swatch-wrapper{
padding:0;
}
.color::-webkit-color-swatch{
border:.06rem solid rgba(255,255,255,.4);
border-radius:2rem;
}
.color::-moz-color-swatch{
padding:0;
margin:0;
border:.06rem solid rgba(255,255,255,.4);
border-radius:2rem;
}
.fileCon{
display:flex;
align-items:flex-start;
justify-content:flex-end;
flex-wrap:wrap;
flex:1;
}
.fileCon input{
opacity:0;
display:none;
width:0;
height:0;
}
.keysCon{
display:flex;
align-items:flex-end;
justify-content:flex-end;
flex-direction:column;
flex:1;
}
.keysCon .keys{
display:flex;
flex-wrap:wrap;
justify-content:flex-end;
align-items:flex-end;
}
.keysCon [data-keys]{
padding-right:1.75rem;
justify-content:flex-start;
}
.keysCon [data-keys]::before,.keysCon [data-keys]::after{
content:"";
position:absolute;
right:0.35rem;
width:1rem;
border-width:0.1rem;
border-style:solid none none;
border-color:rgba(143,143,143,1);
}
.keysCon [data-keys]::before{
transform:rotate(45deg);
}
.keysCon [data-keys]::after{
transform:rotate(-45deg);
}
.textCon textarea{
resize:vertical;
min-height:2.2rem;
max-height:16rem;
height:2.2rem;
overflow-y:auto;
cursor:text;
}
#navWarpper{
background-color:rgba(34,34,34,0.47);
background:linear-gradient(180deg,rgba(34,34,34,0.67),rgba(34,34,34,0.53),rgba(34,34,34,0.47),rgba(34,34,34,0.40),rgba(34,34,34,0.0));
color:rgba(221,221,221,1);
position:fixed;
top:0;right:0;
padding-bottom:0.4rem;
overflow:hidden;
width:100%;
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
z-index:1;
}
#imgWarpper{
overflow:auto;
overflow:overlay;
position:relative;
height:100vh;
}
#imgWarpper>.L,#imgWarpper>.R{
display:block;
position:absolute;
top:0;
bottom:0;
width:50%;
height:100%;
z-index:0;
}	
#imgWarpper>.L{
left:0;
}
#imgWarpper>.R{
right:0;
}
.imgContainer{
display:flex;
justify-content:center;
align-items:center;
height:100%;
}
.imgContainer>img{
object-fit:contain;
}
@keyframes containerShow{
from{top:-120vh;bottom:120vh;opacity:0;}
to{top:0;bottom:-500vh;opacity:1;visibility:visible;pointer-events:none;}
}
@keyframes containerHide{
from{top:0;bottom:-500vh;opacity:1;visibility:visible;pointer-events:none;}
to{top:-120vh;bottom:120vh;opacity:0;}
}
.containerWarpper{
position:fixed;
top:-120vh;bottom:120vh;left:0;right:0;
background:rgba(0,0,0,0.0);
z-index:100;
animation:0.5s cubic-bezier(0.6,0,0.4,1) 1;
animation-name:containerHide;
visibility:hidden;
pointer-events:none;
}
.containerWarpper.show{
top:0;bottom:-500vh;
background:rgba(0,0,0,0.3);
animation-name:containerShow;
visibility:visible;
pointer-events:initial;
}
.container{
display:flex;
flex-direction:column;
justify-content:flex-start;
align-content:flex-start;
background-color:rgba(34,34,34,1);
margin:10vh auto auto;
border:.06rem solid rgba(255,255,255,.4);
border-radius:0.5rem;
overflow:auto;
width:75%;
max-width:60rem;
max-height:80vh;
}
.container>*{
padding:0.2rem;
}
.containerControl{
display:flex;
flex-direction:row-reverse;
}
.containerHead{
width:100%;
display:flex;
justify-content:space-between;
align-items:flex-start;
border-bottom:inherit;
}
.containerSubHead{
border-top:inherit;
display:flex;
overflow-x:auto;
overflow-y:hidden;
flex-direction:row;
flex-wrap:nowrap;
justify-content:flex-start;
align-items:center;
flex-shrink:0;
}
.containerSubHead>*{
flex-shrink:0;
}
.containerTitle{
padding:0.25rem;
font-size:1.2rem;
flex-basis:100%;
align-self:center;
word-break:break-word;
}
.containerCon{
padding:0 0.2rem;
width:100%;
min-height:120px;
font-size:1rem;
overflow-y:auto;
flex:1;
}
.containerCon.scFlex{
display:flex;
box-shadow:inset 0 -2rem 2rem -2rem rgba(0,0,0,0.80), inset 0 2rem 2rem -2rem rgba(0,0,0,0.80);
}
@media only screen and (max-width:400px) {
.container{
margin:0;
width:inherit;
background-color:rgba(34,34,34,0.73);
}
.containerControl{
flex-direction:column;
}
.containerCon.scFlex::before,.containerCon.scFlex::after{
box-shadow:0 0 0.6rem 0.4rem rgba(17,17,17,0.47);
}
}
@media only screen and (max-height:500px) {
.container {
margin:auto;
max-height:none;
height:100vh;
background-color:rgba(34,34,34,0.73);
}
.containerCon.scFlex::before,.containerCon.scFlex::after{
box-shadow:0 0 0.6rem 0.4rem rgba(17,17,17,0.47);
}
}
#goto{
width:100%;
background-color:rgba(0,0,0,0.27);
width:96%;
margin:2%;
}
#gotoOpen{
font-size:1.6rem;
}
#settingsWarpper .containerCon{
flex-direction:column;
flex-basis:100%;
}
.settingsList{
display:inherit;
justify-content:space-between;
align-items:stretch;
padding:.4rem;
word-break:break-word;
border-bottom:.06rem solid rgba(255,255,255,.4);
}
.settingsList.hide{
display:none;
}
.settingsList:last-of-type{
border-bottom:none;
}
.settingsList>*{
margin:0 .25rem;
}
.settingsName{
display:flex;
flex-direction:column;
flex-wrap:nowrap;
flex:2;
}
.settingsName>*:nth-child(2){
font-size:.9rem;
transition:0.4s cubic-bezier(0.6,0,0.4,1);
overflow:hidden;
max-height:0;
opacity:0;
margin-top:0;
border-top:.06rem solid rgba(255,255,255,.4);
}
.settingsName>.show{
max-height:10rem;
opacity:1;
margin-top:0.4rem;
}
.settingsCat{
display:flex;
margin-right:auto;
flex-direction:row;
flex-wrap:nowrap;
}
#folderListWarpper .containerHead{
word-break: break-word;
}
#folderListContainer{
flex:1;
flex-direction:row;
border-radius:0.5rem;
justify-content:center;
flex-wrap:wrap;
}
.folderListNode{
width:8rem;
min-width:50px;
height:11rem;
background-color:rgba(136,136,136,1);
background-color:rgba(136,136,136,0.33);
border-radius:inherit;
margin:0.5rem;
padding:0;
position:relative;
border:none;
overflow:hidden;
-webkit-line-clamp:2;
line-clamp:2;
}
.folderListNode:hover,.folderListNode:focus-visible{
-webkit-line-clamp:initial;
line-clamp:initial;
}
.folderListNodeActive{
border:.06rem solid #fff;
}
.folderListNode>[data-node-type=cover]{
width:100%;
height:100%;
object-fit:cover;
object-position:center;
min-width:inherit;
}
.folderListNode>[data-node-type=info]{
top:0;
right:0;
position:absolute;
display:flex;
flex-direction:row-reverse;
justify-content:flex-end;
}
.folderListNode>[data-node-type=info]>*{
margin:0.1rem;
padding:0.4rem;
font-size:0.8rem;
background-color:rgba(0,0,0,1);
text-shadow:0 0 0.25rem rgba(0,0,0,1);
color:rgba(255,255,255,1);
opacity:0.6;
border-radius:2rem;
}
.folderListNode>[data-node-type=name]{
color:rgba(255,255,255,1);
background-color:rgba(0,0,0,1);
background-color:rgba(0,0,0,0.53);
text-shadow:0 0 0.25rem rgba(0,0,0,1);
width:100%;
min-height:2.75rem;
max-height:100%;
position:absolute;
bottom:0;
padding:0.6rem 0.25rem 0 0.25rem;
border-radius:inherit;
text-align:initial;
font-size:0.9rem;
line-height:1.2rem;
overflow:hidden;
text-overflow:ellipsis;
z-index:1;
display:box;
display:-webkit-box;
-moz-box-orient:vertical;
-webkit-box-orient:vertical;
box-orient:vertical;
-webkit-line-clamp:inherit;
line-clamp:inherit;
}
#popWarpper{
display:flex;
flex-wrap:wrap;
flex-direction:column-reverse;
align-items:flex-end;
position:fixed;
bottom:1rem;right:1rem;left:1rem;
z-index:1;
pointer-events:none;
}
#popWarpper>*{
background-color:rgba(0,0,0,1);
background-color:rgba(0,0,0,0.53);
color:rgba(255,255,255,1);
color:rgba(255,255,255,0.80);
padding:0.5rem;
margin:0.5rem 0 0;
border-radius:.5rem;
text-align:right;
text-overflow:ellipsis;
overflow:hidden;
white-space:nowrap;
transition:1.8s cubic-bezier(0.6,0,0.4,1);
min-width:100px;
max-width:40vw;
}
#popWarpper>.loading{
opacity:1;
}
#popWarpper>.remove,#popWarpper>.loaded,#popWarpper>.error{
opacity:0;
}